.collapse.in {
  display: block !important;
  background-color: #2fccdcad !important;
}

.banner {
  height: 100%;
}

.banner--one {
  background-color: var(--gab-primary-color);
}

.banner--two {
  background-color: var(--gab-secondary-color);
}

.banner__title {
  font-size: 1rem;
}

.banner__cta {
  font-size: 1rem;
}

.dropdown__menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
}

.dropdown:hover>.dropdown__menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50px;
    height: 100%;
    padding: 0 50px 0 100px;
  }

  /* .banner--one {
    background-image: url(./assets/images/Web-Banner2.jpg);
  } */

  /* .banner--two {
    background-image: url(./assets/images/Web-Banner.jpg);
  } */

  .banner__title {
    font-size: 2.25rem;
  }

  .banner__cta {
    font-size: 5.625rem;
  }

  .banner__info {
    font-size: 22px;
  }

  .draw-section {
    margin-top: -80px;
  }
}