   .result-table-head {
     color: #595192;
   }

   .result-table-head__row {
     background: #f7fbff;
     font-size: 14px;
     box-shadow: 0px 11px 19.2px 0.8px rgba(66, 58, 232, 0.1);
     border: 1px solid #eee;
   }

   /* .result-table-body{} */

   .result-table-body__row {
     border-top: 1px solid #eee;
     font-size: 16px;
   }

   .custom-input {
     border: 1px solid #eae9f9;
     background: #f7fbff;
     border-radius: 10px;
     padding: 0px 15px;
     font-size: 15px;
     height: 40px;
     color: #001485;
     font-weight: 600;
   }

   .custom-button--alt {
     background-image: linear-gradient(0deg, #f4ba2e 0%, #fea036 100%);
   }

   .avatar-circle {
     height: 100px;
     width: 100px;
     background-color: #eee;
     border-radius: 100%;
   }

   .side-nav-links {
     color: #525252;
     font-size: 16px;
   }

   .side-nav-links:hover {
     color: var(--gab-primary-color);
   }

   .input-wrapper {
     border-radius: 5px;
     background-color: rgba(221, 228, 236, 0.301);
     border-color: rgba(221, 228, 236, 0.459);
   }

   @media screen and (min-width: 768px) {
     .side-nav-seperator {
       border-right: 1px solid #eee;
     }
   }