<script>
    function chkTkt(tkt) {
        var n = tkt.length;
        if (n == 16)
            alert(
                "Congragulation!!\nYou have Won : N20,000\n\nBet Placed on : 25 Mar, 2021\nPerm 2: 38,53,70\nBanker: 05"
            );
    }
</script>

<body>
    <!-- ==========Preloader Starts Here ========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- ==========Preloader Ends Here========== -->

    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- ==========Overlay========== -->
    <div class="collapse" id="nav-collapse-menu">
        <div class="bg-gab-secondary-color p-3">
            <div class="container">
                <button class="
              navbar-toggler
              close close-top-drawer
              d-flex
              align-items-center
            " type="button" data-toggle="collapse" data-target="#nav-collapse-menu" aria-label="Close">
                    <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                    </svg>
                </button>

                <h4 class="mb-3">Latest Winning Numbers</h4>

                <div class="d-grid nav-collapse-menu">
                    <!-- gab lotto 5 /90 start here -->
                    <div class="
                nav-collapse-menu__item nav-collapse-menu__item--extras
                bg-white
                d-flex
                flex-column
                align-items-center
                justify-content-center
                py-3
              ">
                        <img src="assets/css/images/padi.png" alt="gab padi"
                            class="nav-collapse-menu__item-image mb-3" />

                        <div class="d-flex mb-2">
                            <div class="nav-collapse-menu__item-type font-weight-bold">
                                WIN
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                81
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                40
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                32
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                24
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                15
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="font-weight-bold" style="font-size: 13px; width: 40px">
                                MAC
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                10
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                29
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                73
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                49
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                50
                            </div>
                        </div>
                        <a href="single-lottery.html" class="custom-button1">₦10: Play</a>
                    </div>

                    <div class="
                nav-collapse-menu__item nav-collapse-menu__item--extras
                bg-white
                d-flex
                flex-column
                align-items-center
                justify-content-center
                py-3
              ">
                        <img src="assets/css/images/wazobia.png" alt="gab padi"
                            class="nav-collapse-menu__item-image mb-3" />

                        <div class="d-flex mb-2">
                            <div class="nav-collapse-menu__item-type font-weight-bold">
                                WIN
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                21
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                12
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                4
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                18
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                10
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="font-weight-bold" style="font-size: 13px; width: 40px">
                                MAC
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                13
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                20
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                32
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                14
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                5
                            </div>
                        </div>
                        <a href="single-lottery.html" class="custom-button1">₦10: Play</a>
                    </div>

                    <div class="
                nav-collapse-menu__item nav-collapse-menu__item--extras
                bg-white
                d-flex
                flex-column
                align-items-center
                justify-content-center
                py-3
              ">
                        <img src="assets/css/images/awoof.png" alt="gab padi"
                            class="nav-collapse-menu__item-image mb-3" />

                        <div class="d-flex mb-2">
                            <div class="nav-collapse-menu__item-type font-weight-bold">
                                WIN
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                15
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                29
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                32
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                48
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                52
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="font-weight-bold" style="font-size: 13px; width: 40px">
                                MAC
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                16
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                22
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                33
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                74
                            </div>
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                59
                            </div>
                        </div>
                        <a href="single-lottery.html" class="custom-button1">₦10: Play</a>
                    </div>
                    <!-- gab lotto 5 /90 end's here -->

                    <!-- gab lotto jackpot start here -->
                    <div class="
                nav-collapse-menu__item nav-collapse-menu__item--extras
                bg-gab-accent-color
                text-white
                d-flex
                flex-column
                align-items-center
                justify-content-center
                py-3
              ">
                        <img src="assets/css/images/padi.png" alt="gab padi" class="nav-collapse-menu__item-image mb-2"
                            style="height: 70px" />

                        <div class="font-weight-bold text-center mt-1 text-sm" style="font-size: 13px">
                            Current Jackpot:
                        </div>

                        <div class="font-weight-bold mb-2">$220,000,000</div>

                        <div class="d-flex mb-3">
                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                10
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                7
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                8
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    mr-2
                    font-weight-bold
                    text-xs
                  ">
                                6
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                    mr-2
                  ">
                                8
                            </div>

                            <div class="
                    nav-collapse-menu__item-ball
                    d-flex
                    align-items-center
                    justify-content-center
                    font-weight-bold
                    text-xs
                  ">
                                20
                            </div>
                        </div>

                        <a href="single-lottery.html" class="custom-button1 bg-white text-gab-accent-color"
                            style="border: none; background: #fff; color: #00528b">₦100: Play</a>
                    </div>
                    <!-- gab lotto jackpot end's here -->

                    <!-- pick 3 & spin the wheel -->
                    <div class="nav-collapse-menu__item">
                        <!-- pick 3 start -->
                        <div class="
                  bg-white
                  d-flex
                  flex-column
                  align-items-center
                  justify-content-center
                  nav-collapse-menu__item--extras nav-collapse-menu__item--small
                  mb-10
                ">
                            <img src="assets/css/images/padi.png" alt="gab padi"
                                class="nav-collapse-menu__item-image mb-2" style="height: 36px" />

                            <div class="d-flex mb-3">
                                <div class="
                      nav-collapse-menu__item-ball
                      d-flex
                      align-items-center
                      justify-content-center
                      mr-2
                      font-weight-bold
                      text-xs
                    ">
                                    10
                                </div>

                                <div class="
                      nav-collapse-menu__item-ball
                      d-flex
                      align-items-center
                      justify-content-center
                      mr-2
                      font-weight-bold
                      text-xs
                    ">
                                    7
                                </div>

                                <div class="
                      nav-collapse-menu__item-ball
                      d-flex
                      align-items-center
                      justify-content-center
                      font-weight-bold
                      text-xs
                    ">
                                    8
                                </div>
                            </div>

                            <a href="single-lottery.html" class="custom-button1"
                                style="padding: 2px 4px; font-size: 14px">₦10: Play</a>
                        </div>
                        <!-- pick 3 end -->

                        <!-- spin the wheel start -->
                        <div class="
                  bg-white
                  d-flex
                  flex-column
                  align-items-center
                  justify-content-center
                  nav-collapse-menu__item--extras nav-collapse-menu__item--small
                ">
                            <img src="assets/css/images/padi.png" alt="gab padi"
                                class="nav-collapse-menu__item-image mb-2" style="height: 64px" />

                            <a href="single-lottery.html" class="custom-button1"
                                style="padding: 2px 4px; font-size: 14px">₦10: Play</a>
                        </div>
                        <!-- spin the wheel end -->
                    </div>

                    <!-- keno  -->
                    <div class="nav-collapse-menu__item">
                        <!-- pick 3 start -->
                        <div class="
                  bg-white
                  d-flex
                  flex-column
                  align-items-center
                  justify-content-center
                  nav-collapse-menu__item--extras nav-collapse-menu__item--small
                  mb-10
                ">
                            <img src="assets/css/images/padi.png" alt="gab padi"
                                class="nav-collapse-menu__item-image mb-2" style="height: 64px" />

                            <a href="single-lottery.html" class="custom-button1"
                                style="padding: 2px 4px; font-size: 14px">₦10: Play</a>
                        </div>
                        <!-- pick 3 end -->

                        <!-- keno start -->
                        <div class="
                  bg-white
                  d-flex
                  flex-column
                  align-items-center
                  justify-content-center
                  nav-collapse-menu__item--extras nav-collapse-menu__item--small
                ">
                            <img src="assets/css/images/padi.png" alt="gab padi"
                                class="nav-collapse-menu__item-image mb-2" style="height: 64px" />

                            <a href="single-lottery.html" class="custom-button1"
                                style="padding: 2px 4px; font-size: 14px">₦10: Play</a>
                        </div>
                        <!-- keno end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==========Header-Section========== -->
    <header class="top-header">
        <div class="header-section">
            <nav id="nav-secondary" style="max-width: 1388px; margin: 0 auto">
                <div class="nav-left">
                    <div class="nav-item yellow with-border">
                        <a role="button" class="navbar-collapse-toggle collapsed" data-toggle="collapse"
                            class="navbar-toggler" data-target="#nav-collapse-menu" style="float: left"
                            aria-expanded="false" aria-controls="navbar-collapse-winningnumbers"
                            id="navbar-collapse-winningnumbers-link">
                            <span class="hidden-sm hidden-md hidden-lg spacebreak">Results</span>
                        </a>
                    </div>

                    <div class="nav-item sapphire with-border">
                        <a href="#" data-toggle="modal" data-target="#ticketModal"><img
                                src="assets/images/enter%20tickets6e47.png?h=11&amp;w=14&amp;la=en&amp;hash=87213C90AC2FDE1C6B6A3C2587A0DF557778DA4A"
                                class="hidden-xs hidden-sm" alt="enter tickets icon image" />
                            <span class="spacebreak">Enter Tickets</span>
                        </a>
                    </div>
                </div>
                <div class="nav-right b-blue"></div>

                <div id="wp-login-link" class="nav-item">
                    <span class="wp-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                        <i class="glyphicon glyphicon-chevron-right hidden-xs"></i></span>
                </div>
                <div id="wp-register-link" class="nav-item hidden-xs">
                    <span class="wp-item"><a href="#" data-toggle="modal"
                            data-target="#registerModal">Register</a></span>
                </div>
            </nav>
        </div>

        <nav class="main-nav d-flex align-items-center justify-content-start">
            <button class="d-md-none d-flex align-items-center border-0 position-absolute"
                style="right: 20px; z-index: 1001; background: transparent" id="hamburger-button">
                <svg style="width: 36px; height: 36px" viewBox="0 0 24 24">
                    <path fill="#000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
            </button>

            <a href="index.html" class="main-nav__logo">
                <img src="assets/images/GAB-Lotto_Logo.png" alt="Gab Lotto Logo" style="height: 100%" />
            </a>

            <div class="main-nav__links text-uppercase pl-5 p-md-0 d-none d-md-block" style="font-size: 16px">
                <a href="single-lottery.html" class="
              main-nav__link
              text-gab-primary-color
              mr-md-5
              font-weight-bold
              mb-4 mb-md-0
            ">play now</a>

                <a href="#" class="
              main-nav__link
              text-gab-primary-color
              font-weight-bold
              mr-md-5
              mb-4 mb-md-0
            ">games</a>

                <a href="result.html" class="
              main-nav__link
              text-gab-primary-color
              font-weight-bold
              mr-md-5
              mb-4 mb-md-0
            ">results</a>

                <a href="about.html" class="
              main-nav__link
              text-gab-primary-color
              font-weight-bold
              mr-md-5
              mb-4 mb-md-0
            ">about us</a>

                <a href="media.html" class="
              main-nav__link
              text-gab-primary-color
              font-weight-bold
              mr-md-5
              mb-4 mb-md-0
            ">media</a>

                <a href="contact.html" class="main-nav__link text-gab-primary-color font-weight-bold">contact</a>
            </div>
        </nav>
    </header>

    <!-- Register Area -->
    <div class="modal fade log-reg-modal-wrapper" id="registerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>
                    <div class="log-reg-inner">
                        <h2 class="title">Create an Account</h2>
                        <div class="main-content">
                            <form action="/dashboard/">
                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Phone Number</label>
                                    <input type="text" class="my-form-control" placeholder="Phone Number" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">User Id</label>
                                    <input type="text" class="my-form-control" placeholder="Enter Your User Id" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Your Email (Optional)</label>
                                    <input type="email" class="my-form-control" placeholder="Enter Your Email" />
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">
                                        I agree to the
                                        <a href="#">Terms, Privacy Policy and Fees</a>
                                    </label>
                                </div>

                                <div class="button-wrapper">
                                    <button type="submit" class="custom-button2">
                                        Register Now
                                    </button>

                                    <p class="or-signup mt-4">
                                        Already have an account?
                                        <a href="#" data-toggle="modal" data-target="#loginModal">
                                            Login
                                        </a>
                                    </p>
                                </div>
                                <div class="or">
                                    <p>OR</p>
                                </div>
                                <div class="socials">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Area -->
    <!-- Login Modal Start -->
    <div class="modal fade log-reg-modal-wrapper log" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>

                    <div class="log-reg-inner">
                        <h2 class="title">Welcome to Gab Lotto</h2>
                        <div class="main-content">
                            <form action="/dashboard/">
                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Phone Number</label>
                                    <input type="email" class="my-form-control" placeholder="Enter Your Phone Number" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Pin Code</label>
                                    <input type="text" class="my-form-control" placeholder="4 Digit Pin Code" />
                                </div>

                                <p class="f-pass text-center">
                                    Forgot your pin code? <a href="#">recover pin code</a>
                                </p>

                                <div class="button-wrapper">
                                    <button type="submit" class="custom-button2">
                                        Sign In
                                    </button>
                                </div>
                                <div class="or log">
                                    <p>OR</p>
                                </div>
                                <div class="or-content">
                                    <p>Sign up with your email</p>
                                    <a href="#" class="or-btn"><img src="assets/images/google.png" alt="" /> Sign Up
                                        with Google</a>
                                    <p class="or-signup">
                                        Don't have an account?
                                        <a href="#" data-toggle="modal" data-target="#registerModal">
                                            Sign up here
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->

    <!-- Ticket Modal Start -->
    <div class="modal fade log-reg-modal-wrapper log" id="ticketModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>

                    <div class="log-reg-inner">
                        <h2 class="title">Welcome to Gab Lotto</h2>
                        <div class="main-content">
                            <form action="#" class="d-flex flex-column">
                                <div class="form-group">
                                    <label>Ticket Number</label>
                                    <input type="email" class="my-form-control w-100"
                                        placeholder="Enter Your Ticket No" />
                                </div>
                                <button class="custom-button1">Check</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ticket Modal End -->

    <!-- ==========Header-Section========== -->

    <!-- ==========Breadcrumb-Section========== -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="content">
                <h2 class="title">About Us</h2>
                <ul class="breadcrumb-list extra-padding">
                    <li>
                        <a href="index.html"> Home </a>
                    </li>

                    <li>
                        <a href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Breadcrumb-Section========== -->

    <!-- ==========About-counter-Section========== -->
    <section class="about-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br /><br /><br />
                    <div class="counter-area">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="counter-area-inner">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="c-box">
                                                <img class="icon" src="assets/images/ac1.png" alt="" />
                                                <h3 class="number">23</h3>
                                                <p class="text">Winners Last Month</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="c-box">
                                                <img class="icon" src="assets/images/ac2.png" alt="" />
                                                <h3 class="number">2837K</h3>
                                                <p class="text">Tickets Sold</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="c-box">
                                                <img class="icon" src="assets/images/ac3.png" alt="" />
                                                <h3 class="number">28387K</h3>
                                                <p class="text">Payout to Winners</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========About-counter-Section========== -->

    <!-- ==========About-info-Section========== -->
    <section class="about-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="assets/images/about-left.png" alt="lottery" class="about__image" />
                    </div>
                </div>

                <div class="col-lg-6 align-self-center">
                    <div class="right-content">
                        <div class="section-header">
                            <h2 class="title">About us</h2>
                            <p>
                                Gab lotto is an official lottery company in Nigeria, founded
                                in 2007 and fully licensed by the National Lottery Regulatory
                                Commission. Specialised in delivering a vast array of gaming
                                solutions to its customers, Gab Lotto is passionate about
                                availing Nigerians with the opportunity to turn their dreams
                                into reality.
                            </p>
                            <p>
                                At Gab Lotto, we maintain our customer-focused operations by
                                empowering our sales forces with the skills and knowledge to
                                deploy gaming platforms and frequently train our principal
                                agents to effectively use our platforms and a technical team
                                on standby to resolve technical challenges, making it possible
                                for stakers and agents to experience our games glitch-free and
                                conveniently.
                            </p>
                            <p>Your satisfaction is our goal!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========About-info-Section========== -->

    <section class="testimonial">
        <div class="about-feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="a-f-box">
                            <h4 class="title"><strong>Vision</strong></h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="a-f-box">
                            <h4 class="title"><strong>Mission</strong></h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- ==========Testimonial-Section========== -->
    <section class="testimonial">
        <div class="about-feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="a-f-box">
                            <img src="assets/images/af1.png" alt="" />
                            <h4 class="title">100% Secure</h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="a-f-box">
                            <img src="assets/images/af2.png" alt="" />
                            <h4 class="title">No Risk</h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="a-f-box">
                            <img src="assets/images/af3.png" alt="" />
                            <h4 class="title">Support</h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="a-f-box">
                            <img src="assets/images/af4.png" alt="" />
                            <h4 class="title">Spam-Free</h4>
                            <p class="text">
                                All transactions are protected by GeoTrust 128-bit SSL
                                security layer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="about-testimonial">
                        <img src="assets/images/lottery-machine-illustration-png-favpng-dHKyvxZP2dxieCbE7dgs1Q6Aw.png"
                            alt="" class="lottery-machine" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Testimonial-Section========== -->

    <!-- ==========Newslater-Section========== -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-links">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-top-area">
                            <div class="left">
                                <a href="#">
                                    <img src="assets/images/app_store_btn.png" alt="" />
                                </a>
                                <a href="#">
                                    <img src="assets/images/goole_play_btn.png" alt="" />
                                </a>
                            </div>
                            <div class="right">
                                <ul class="links">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Service</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="hr2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="copyr-text">
                            <span> Copyright © 2021.All Rights Reserved By </span>
                            <a href="#">Gab Lotto</a>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <ul class="footer-social-links">
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->
    <!-- All js link starts hear -->
    <script>
        const playItems = [
            { image: "assets/css/images/padi.png", name: "Gab Padi" },
            { image: "assets/css/images/awoof.png", name: "Gab Awoof" },
            { image: "assets/css/images/wazobia.png", name: "Gab Sharp Sharp" },
            { image: "assets/css/images/sharp.png", name: "Gab Wazobia" },
            { image: "assets/css/images/million.png", name: "Gab Million" },
        ];

        const owlCarouselContainer1 = document.getElementById(
            "owl-carousel-container1"
        );
        const owlCarouselContainer2 = document.getElementById(
            "owl-carousel-container2"
        );

        owlCarouselContainer1.innerHTML = `
    ${playItems
                .map(
                    (item) => `
      <div class="item">
        <div class="single-draw">
          <div class="icon">
            <img src="${item.image}" alt="">
          </div>

          <h4>
            ${item.name}
          </h4>

          <div>Win up to ₦50,000</div>

          <div>ODDS: 1 in 2.37</div>

          <a href="single-lottery.html" class="custom-button1">₦10: Play</a>
        </div>
      </div>
    </div>
    `
                )
                .join("")}`;

        owlCarouselContainer2.innerHTML = `
    ${playItems
                .map(
                    (item) => `
        <div class="item">
          <div class="single-draw">
            <div class="icon">
              <img src="${item.image}" alt="">
            </div>

            <h4>
              ${item.name}
            </h4>

            <div>Win up to ₦50,000</div>

            <div>ODDS: 1 in 2.37</div>

            <a href="single-lottery.html" class="custom-button1">₦10: Play</a>
          </div>
        </div>
    `
                )
                .join("")}`;

        const mobileNavigationButton = document.getElementById(
            "mobile-navigation-button"
        );
        const mobileNavigation = document.getElementById("mobile-navigation");

        const toggleMobileNavigation = () => {
            mobileNavigation.classList.toggle("d-block");
        };
    </script>
</body>
