<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->

    <!-- ==========Header-Section========== -->
    <header class="top-header">
        <div class="header-section">
            <nav id="nav-secondary" style="max-width: 1388px; margin: 0 auto">
                <div class="nav-left">
                    <div class="nav-item yellow with-border">
                        <a role="button" class="navbar-collapse-toggle collapsed" data-toggle="collapse"
                            class="navbar-toggler" data-target="#nav-collapse-menu" style="float: left"
                            aria-expanded="false" aria-controls="navbar-collapse-winningnumbers"
                            id="navbar-collapse-winningnumbers-link">
                            <span class="hidden-sm hidden-md hidden-lg spacebreak">Results</span>
                        </a>
                    </div>

                    <div class="nav-item sapphire with-border">
                        <a href="#" data-toggle="modal" data-target="#ticketModal"><img
                                src="assets/images/enter%20tickets6e47.png?h=11&amp;w=14&amp;la=en&amp;hash=87213C90AC2FDE1C6B6A3C2587A0DF557778DA4A"
                                class="hidden-xs hidden-sm" alt="enter tickets icon image" />
                            <span class="spacebreak">Enter Tickets</span>
                        </a>
                    </div>
                </div>
                <div class="nav-right b-blue"></div>

                <div id="wp-login-link" class="nav-item">
                    <span class="wp-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                        <i class="glyphicon glyphicon-chevron-right hidden-xs"></i></span>
                </div>
                <div id="wp-register-link" class="nav-item hidden-xs">
                    <span class="wp-item"><a href="#" data-toggle="modal"
                            data-target="#registerModal">Register</a></span>
                </div>
            </nav>
        </div>

        <nav class="main-nav d-flex align-items-center justify-content-start">
            <button class="d-md-none d-flex align-items-center"
                style="border: 1px solid; border-radius: 0px; height: 30px" onclick="toggleMobileNavigation()">
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                    <path fill="#000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
            </button>

            <a href="index.html" class="main-nav__logo">
                <img src="assets/images/GAB-Lotto_Logo.png" alt="Gab Lotto Logo" style="height: 100%" />
            </a>

            <div class="main-nav__links text-uppercase d-none d-md-flex" style="font-size: 16px">
                <a href="single-lottery1.html" class="main-nav__link text-gab-primary-color mr-5 font-weight-bold">play
                    now</a>
                <a href="#" class="main-nav__link text-gab-primary-color font-weight-bold mr-5">games</a>
                <a href="result.html" class="main-nav__link text-gab-primary-color font-weight-bold mr-5">results</a>
                <a href="about.html" class="main-nav__link text-gab-primary-color font-weight-bold mr-5">about us</a>
                <a href="#" class="main-nav__link text-gab-primary-color font-weight-bold mr-5">media</a>
                <a href="contact.html" class="main-nav__link text-gab-primary-color font-weight-bold">contact</a>
            </div>
        </nav>

        <!-- mobile navigation -->
        <div class="d-none" id="mobile-navigation" style="
          background: #ccc;
          height: 100vh;
          width: 100vw;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
        ">
            <div class="d-flex flex-column px-4 pt-3" style="width: 70%; background: white; height: 100%">
                <button class="
              align-self-end
              d-flex
              justify-content-center
              align-items-center
              mb-4
            " style="height: 30px; width: 30px; border-radius: 0" onclick="toggleMobileNavigation()">
                    <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                    </svg>
                </button>

                <a href="single-lottery1.html" class="mb-3 font-weight-medium">play now</a>
                <a href="#" class="mb-3">games</a>
                <a href="result.html" class="mb-3">results</a>
                <a href="about.html" class="mb-3">about us</a>
                <a href="#" class="mb-3">media</a>
                <a href="contact.html">contact</a>
            </div>
        </div>
    </header>

    <!-- Register Area -->
    <div class="modal fade log-reg-modal-wrapper" id="registerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>
                    <div class="log-reg-inner">
                        <h2 class="title">Create an Account</h2>
                        <div class="main-content">
                            <form action="#">
                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Your Email</label>
                                    <input type="email" class="my-form-control" placeholder="Enter Your Email" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">User Id</label>
                                    <input type="text" class="my-form-control" placeholder="Enter Your User Id" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Phone Number</label>
                                    <input type="text" class="my-form-control" placeholder="Phone Number" />
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">
                                        I agree to the
                                        <a href="#">Terms, Privacy Policy and Fees</a>
                                    </label>
                                </div>

                                <div class="button-wrapper">
                                    <button type="submit" class="custom-button2">
                                        Register Now
                                    </button>

                                    <p class="or-signup mt-4">
                                        Already have an account?
                                        <a href="#" data-toggle="modal" data-target="#loginModal">
                                            Login
                                        </a>
                                    </p>
                                </div>
                                <div class="or">
                                    <p>OR</p>
                                </div>
                                <div class="socials">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Area -->

    <!-- Login Modal Start -->
    <div class="modal fade log-reg-modal-wrapper log" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>

                    <div class="log-reg-inner">
                        <h2 class="title">Welcome to Gab Lotto</h2>
                        <div class="main-content">
                            <form action="#">
                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Phone Number</label>
                                    <input type="email" class="my-form-control" placeholder="Enter Your Phone Number" />
                                </div>

                                <div class="form-group d-flex flex-column">
                                    <label class="mb-1">Pin Code</label>
                                    <input type="text" class="my-form-control" placeholder="4 Digit Pin Code" />
                                </div>

                                <p class="f-pass text-center">
                                    Forgot your pin code? <a href="#">recover pin code</a>
                                </p>

                                <div class="button-wrapper">
                                    <button type="submit" class="custom-button2">
                                        Sign In
                                    </button>
                                </div>
                                <div class="or log">
                                    <p>OR</p>
                                </div>
                                <div class="or-content">
                                    <p>Sign up with your email</p>
                                    <a href="#" class="or-btn"><img src="assets/images/google.png" alt="" /> Sign Up
                                        with Google</a>
                                    <p class="or-signup">
                                        Don't have an account?
                                        <a href="#" data-toggle="modal" data-target="#registerModal">
                                            Sign up here
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->

    <!-- Ticket Modal Start -->
    <div class="modal fade log-reg-modal-wrapper log" id="ticketModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close" data-dismiss="modal" aria-label="Close" role="button">
                        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                        </svg>
                    </div>

                    <div class="log-reg-inner">
                        <h2 class="title">Welcome to Gab Lotto</h2>
                        <div class="main-content">
                            <form action="#" class="d-flex flex-column">
                                <div class="form-group">
                                    <label>Ticket Number</label>
                                    <input type="email" class="my-form-control w-100"
                                        placeholder="Enter Your Ticket No" />
                                </div>
                                <button class="custom-button1">Check</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ticket Modal End -->

    <!-- ==========Header-Section End========== -->

    <!-- ==========Breadcrumb-Section========== -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="content">
                <h2 class="title">Contact</h2>
                <ul class="breadcrumb-list extra-padding">
                    <li>
                        <a href="index.html"> Home </a>
                    </li>

                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Breadcrumb-Section========== -->

    <!-- ==========Contact-Section========== -->
    <section class="contact">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="contact-box d-flex flex-column align-items-center">
                        <h4 class="title mb-2">Get In Touch</h4>

                        <div class="mb-5">
                            Contact us for help with gablotto services.
                        </div>

                        <form action="#" style="width: 80%">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-column">
                                        <label class="mb-1" style="font-size: 16px">Full Name</label>
                                        <input type="text" placeholder="John Doe" class="px-3" style="height: 48px" />
                                    </div>

                                    <div class="form-group d-flex flex-column">
                                        <label class="mb-1" style="font-size: 16px">Email Address</label>
                                        <input type="email" placeholder="johndoe@gmail.com" class="px-3"
                                            style="height: 48px" />
                                    </div>

                                    <div class="form-group d-flex flex-column mb-0">
                                        <label class="mb-1" style="font-size: 16px">Phone No</label>
                                        <input type="email" placeholder="07054009990" class="px-3"
                                            style="height: 48px" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-column" style="height: 100%">
                                        <label class="mb-1" style="font-size: 16px">Message</label>
                                        <textarea placeholder="Enter Your Message" style="height: 100%"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                  />
                  <label class="custom-control-label" for="customCheck1"
                    >I agree to receive emails, newsletters and promotional
                    messages</label
                  >
                </div> -->
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="custom-button1 text-capitalize" style="font-size: 16px">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="col-lg-4">
            <div class="right-area">
              <div class="faq-block">
                <h4 class="title">Have questions?</h4>
                <p>
                  If you have any questions or queries, our helpful support team
                  will be more than happy to assist you.
                </p>
                <a href="#">
                  Read F.A.Q <i class="fas fa-chevron-right"></i>
                </a>
              </div>
              <div class="contact-info">
                <div class="single-info">
                  <img src="assets/images/eicom.png" alt="" />
                  <div class="content">
                    <h4>Email Us</h4>
                    <p>info@Fantra.com</p>
                  </div>
                </div>
                <div class="single-info">
                  <img src="assets/images/picon.png" alt="" />
                  <div class="content">
                    <h4>Call Us</h4>
                    <p>+1 (987) 435-32-11</p>
                    <p>+1 (987) 453-31-11</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
            </div>
        </div>
    </section>
    <!-- ==========Contact-Section========== -->

    <!-- ==========Newslater-Section========== -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-links">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-top-area">
                            <div class="left">
                                <a href="#">
                                    <img src="assets/images/app_store_btn.png" alt="" />
                                </a>
                                <a href="#">
                                    <img src="assets/images/goole_play_btn.png" alt="" />
                                </a>
                            </div>
                            <div class="right">
                                <ul class="links">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Service</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="hr2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="copyr-text">
                            <span> Copyright © 2020.All Rights Reserved By </span>
                            <a href="#">Fantra</a>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <ul class="footer-social-links">
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->

    <!-- All js link starts hear -->
</body>